<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/screen.css"
      media="screen"
    />
    <title>Hello World!</title>
  </head>
  <body>
    <header>
      <h1>Hello, World!</h1>
    </header>

    <main>
      <form id="add-form" method="post">
        <label for="item-input">Add item:</label>
        <input id="item-input" type="text" name="item" required autofocus />
        <button type="submit">Add</button>
      </form>

      {% if item is defined %}
      <p>You added: {{ item }}</p>

      {% endif %}
    </main>

    <script type="module" src="/static/datastar.js"></script>
  </body>
</html>
